.hover-div {
    width: 31%;
    position: absolute;
}

.map {
    height: 100%;
    width: 31%;
}

.house-details {
    width: 100%;
    font-size: 13px;
}

.house-deatils-box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #e7e7e7;
}

.details-block {
    width: 100%;
    padding: 10px;
}